.image-logo{
    width: 200px;
    height: 200px;
    background-image: url('../../public/logoIF.png');
    background-size: cover;
    background-position: center;
}

.react-bootstrap-table{
    overflow-x:auto !important;
}

.sr-only {
    display: none;
}

.filter-table {
    margin-left: 1rem;
}

.border-select > .select__control {
    border-color: none I !important;
    border-style: none !important;
}

@media screen and (max-width: 768px) {
    .nav{
        align-items: center;
        width: 50%;
    }
}

@media screen and (max-width: 576px) {
    .flex-responsive{
        flex-direction: column !important;
    }
    .desktop-menu{
        display: none !important;
    }
    .mobile-menu {
        display: flex !important;
    }
    .filter-table {
        margin-left: 0;
        width: 100% !important;
    }
    .column-with-filter{
        display: flex;
        flex-direction: column;
    }
}

.noBorderAndColor {
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }